<!DOCTYPE html>
<h1>Prueba del modulo HTTP</h1>
<div class="row"> 
    
    <div class="col-8">
        <table class="table table-striped">            
            <thead>
                
                <th>Id</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Edad</th>
                <th>Profesional</th>
                <th>*</th>
            </thead>            
            <tbody>
                <tr *ngFor="let item of personas">
                    
                    <td>{{item._id}}</td>
                    <td>{{item.Nombre}}</td>
                    <td>{{item.Apellido}}</td>
                    <td>{{item.Edad}}</td>
                    <td>{{item.isProfesional}}</td>
                    <td>
                        
                        <button (click)="eliminarPersona(item._id)" class="btn btn-primary">Eliminar</button>
                    </td>
                </tr>
            </tbody>
        </table>
            
    </div>
    <div class="col-4">
        
        <h3>Formulario</h3>
        <div class="form-group">            
            <label for="controlNombre">Nombre</label>
            <input type="text" [(ngModel)]="agregarPersonaRegistro.Nombre" class="form-control" placeholder="Nombre de Persona">
        </div>
        <div class="form-group">            
            <label for="controlNombre">Apellido</label>
            <input type="text" [(ngModel)]="agregarPersonaRegistro.Apellido" class="form-control" placeholder="Apellido de Persona">
        </div>
        <div class="form-group">            
            <label for="controlNombre">Edad</label>
            <input type="text" [(ngModel)]="agregarPersonaRegistro.Edad" class="form-control" placeholder="Edad de Persona">
        </div>
   
        <button (click)="agregarPersona(item._id)" class="btn btn-primary">Agregar</button>
    </div>
</div>